<div class="container">
  <div class="mb-3">
<h1><%= @article.title %></h1>
By <h6 class="font-weight-bold"><%= link_to @article.user.username, user_path(@article.user.id) %></h6>
<div>
<h6><%= @article.topic %></h6>
</div>
</div>
  <div class="row p-3">
<%= image_tag @article.image, :class => 'feature mb-3', :alt => @article.title if @article.image.present?%>
<p><%= @article.body %></p>

<div class="controls">

<div class="d-inline-block">
  <%= button_to "Edit", edit_article_path(@article), :class => " btn btn-outline-warning"%>
  </div>
  <div class="d-inline-block">
  <%= button_to "Delete", @article, :method => 'delete', :data => { :confrim => 'Are you sure?' }, :class => "btn btn-outline-secondary" %>
  </div>
</div>
</div>



<%= render :partial => 'comments/comment' %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
</div>
