<body class="home">


<div class="container">
<h1>Welcome to Informative.
</h1>
<p>Is an open article sharing platform where users can share their voice on any topic, access dynamic content and connect with people with shared interests.</p>

<% if current_user.present? %>
<p>You are currently logged in as <%= current_user.email %></p>
<% end %>
</div>


<%  Article.all.order("created_at DESC").each do |article| %>
  <div class="col-md-6">
    <%= image_tag article.image, :class => "text-center" if article.image.present?%>
    <h4><%= link_to "#{article.title}", article%></h4>
    <p>By <%= link_to "#{article.user.username}", user_path(article.user.id)%></p>
    <p><%= "#{article.created_at.strftime("%b %d, %Y")}" %></p>
    <p><%= truncate "#{article.body}", length: 75 %></p>
  </div>
<% end %>

</body>
